<ul>
  <li>
    <%= link_to accounting_codes_path do %>
      Accounting Codes
    <% end %>
  </li>
  <li>
    <%= link_to accounting_entries_path do %>
      Accounting Entries
    <% end %>
  </li>
</ul>
