<h1>
  Accounting Entries
</h1>
<hr>

<button class="btn btn-primary" id="btn-new">
  New Accounting Entry
</button>

<%= render partial: "list", locals: { accounting_entries: @accounting_entries } %>

<%= render partial: "accounting_entries/modals/new" %>
