<h1>
  Hello World!
</h1>

<button class="btn btn-primary" id="btn-click">
  Click Me!
</button>

<%= javascript_pack_tag "pages/Index" %>

<script type="text/javascript">
  $(document).ready(function() {
    Index.init({
    })
  });
</script>
