<div class="modal fade" id="modal-new" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Accounting Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>
            Date Prepared:
          </label>
          <input type="date" value="<%= Date.today %>" class="form-control" id="input-date-prepared"/>
        </div>
        <div class="form-group">
          <label>
            Book:
          </label>
          <%= select_tag :book, options_for_select(AccountingEntry::BOOKS), class: "form-control", id: "input-book" %>
        </div>
        <div class="form-group">
          <label>
            Particular:
          </label>
          <input type="text" class="form-control" id="input-particular"/>
        </div>
        <div class="message">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-save">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
